/nbproject/private/
/FlightReservationSystemClient/nbproject/private/
/FlightReservationSystem-ejb/nbproject/private/
/FlightReservationSystemLibrary/nbproject/private/
/FlightReservationSystemLibrary/build/
/FlightReservationSystem-ejb/build/
/FlightReservationSystemLibrary/dist/
/FlightReservationSystemClient/build/
/FlightReservationSystem-ejb/dist/
/FlightReservationSystemCustomerClient/nbproject/private/
/FlightReservationSystemCustomerClient/build/
/FlightReservationSystemCustomerClient/dist/
/FlightReservationSystemClient/dist/
/build/
/dist/
/FlightReservationSystemJavaSeClient/nbproject/private/
/FlightReservationSystemJavaSeClient/build/
/FlightReservationSystemJavaSeClient/dist/
